{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3> home sales</h3>

    {% comment %} form {% endcomment %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button id="submit_search" type="submit" class="btn btn-primary mt-3 mb-5">Look</button>
                </form>
            </div>

            <div class="col-7">

            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if data %}
                    <p> {{ data | safe }}</p>
                {% endif %}
            </div>
        </div>

    </div>

    {% comment %} end form {% endcomment %}



{% endblock content %}
